@model CustomerModel
@{
    var countries = ViewBag.Countries as List<Country>;
    var nationalities = ViewBag.Nationalities as List<Nationality>;
    var jobs = ViewBag.Jobs as List<Job>;
}
<div class="price-form">
    <div class="text-center">
        <h2>Sigortalı Girişi</h2>
    </div>
    <form action="" method="post" id="customerForm">
        <div class="customer customer0">
            <input type="hidden" name="customers[0].InsurerId" value="@(Model.InsurerId)" />
            <div class="form-row row-center">
                <div class="form-group col-md-4">
                    <label>TC Kimlik No</label>
                    <input type="number" class="form-control" name="customers[0].TCKNo" maxlength="11" value="@(Model.TCKNo)" placeholder="TC Kimlik NO" />
                </div>
                <div class="form-group col-md-4">
                    <label>Yabancı Kimlik No</label>
                    <input type="number" class="form-control" name="customers[0].ForeignTCKNo" maxlength="20" value="@(Model.ForeignTCKNo)" placeholder="Yabancı Kimlik No" />
                </div>
                <div class="form-group col-md-4">
                    <label>Pasaport No</label>
                    <input type="number" class="form-control" name="customers[0].PassportNo" maxlength="7" value="@(Model.PassportNo)" placeholder="Pasaport No" />
                </div>
            </div>
            <div class="form-row row-center">
                <div class="form-group col-md-4">
                    <label>Boy</label>
                    <input type="number" class="form-control" name="customers[0].Height" value="@(Model.Height)" placeholder="Boy" />
                </div>
                <div class="form-group col-md-4">
                    <label>Kilo</label>
                    <input type="number" class="form-control" name="customers[0].Weight" value="@(Model.Weight)" placeholder="Kilo" />
                </div>
                <div class="form-group col-md-4">
                    <label>Yakınlık</label>
                    <select class="form-control" name="customers[0].ProximityType">
                        <option value="@((int)ProximityType.HIMSELF)">Kendisi</option>
                        <option value="@((int)ProximityType.WIFE)">Eşi</option>
                        <option value="@((int)ProximityType.CHILDREN)">Çoçuğu</option>
                        <option value="@((int)ProximityType.OTHER)">Diğer</option>
                    </select>
                </div>
            </div>
            <div class="form-row row-center">
                <div class="form-group col-md-4">
                    <label>Adı</label>
                    <input type="text" class="form-control" name="customers[0].Name" maxlength="11" value="@(Model.Name)" placeholder="Ad" />
                </div>
                <div class="form-group col-md-4">
                    <label>Soyadı</label>
                    <input type="text" class="form-control" name="customers[0].Surname" maxlength="20" value="@(Model.Surname)" placeholder="Soyad" />
                </div>
                <div class="form-group col-md-4">
                    <label>Cinsiyet</label><br />
                    <div class="custom-control custom-radio custom-control-inline ml-4">
                        @if (Model.Gender == Gender.MALE)
                        {
                            <input type="radio" name="customers[0].Gender" value="@((int)Gender.MALE)" id="Gender@(((int)Gender.MALE))" class="custom-control-input" checked="checked" />

                        }
                        else
                        {
                            <input type="radio" name="customers[0].Gender" value="@((int)Gender.MALE)" id="Gender@(((int)Gender.MALE))" class="custom-control-input" />
                        }
                        <label class="custom-control-label" for="Gender@(((int)Gender.MALE))">Erkek</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ml-4">
                        @if (Model.Gender == Gender.FEMALE)
                        {
                            <input type="radio" name="customers[0].Gender" value="@((int)Gender.FEMALE)" id="Gender@(((int)Gender.FEMALE)+5)" class="custom-control-input" checked="checked" />

                        }
                        else
                        {
                            <input type="radio" name="customers[0].Gender" value="@((int)Gender.FEMALE)" id="Gender@(((int)Gender.FEMALE)+5)" class="custom-control-input" />
                        }
                        <label class="custom-control-label" for="Gender@(((int)Gender.FEMALE)+5)">Kadın</label>
                    </div>
                </div>
            </div>
            <div class="form-row row-center">
                <div class="form-group col-md-4">
                    <label>Telefon Numarası</label>
                    <input type="number" class="form-control" name="customers[0].PhoneNumber" maxlength="10" value="@(Model.PhoneNumber)" placeholder="(5**) *** ** **" />
                </div>
                <div class="form-group col-md-4">
                    <label>E-Posta</label>
                    <input type="email" class="form-control" name="customers[0].Email" value="@(Model.Email)" placeholder="E-Posta" />
                </div>
                <div class="form-group col-md-4">
                    <label>Doğum Tarihi</label>
                    <input type="date" class="form-control" name="customers[0].DateOfBirth" value="@(Model.DateOfBirth.ToString("dd/MM/yyyy"))" placeholder="GG/AA/YYYY" />
                </div>
            </div>
            <div class="form-row row-center">
                <div class="form-group col-md-4">
                    <label>Ülke</label>
                    <select class="form-control" name="customers[0].CountryId" onchange="javascript:fillCities(this)">
                        <option value="0">Seçiniz</option>
                        @if (countries != null)
                        {
                            foreach (var country in countries)
                            {
                                if (Model.CountryId == country.Id)
                                {
                                    <option value="@(country.Id)" selected>@(country.Name)</option>
                                }
                                else
                                {
                                    <option value="@(country.Id)">@(country.Name)</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Uyruk</label>
                    <select class="form-control" name="customers[0].NationalityId">
                        <option value="0">Seçiniz</option>
                        @if (nationalities != null)
                        {
                            foreach (var nationality in nationalities)
                            {
                                if (Model.NationalityId == nationality.Id)
                                {
                                    <option value="@(nationality.Id)" selected>@(nationality.Name)</option>
                                }
                                else
                                {
                                    <option value="@(nationality.Id)">@(nationality.Name)</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Meslek</label>
                    <select class="form-control" name="customers[0].JobId">
                        <option value="0">Seçiniz</option>
                        @if (jobs != null)
                        {
                            foreach (var job in jobs)
                            {
                                <option value="@(job.Id)">@(job.Name)</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-row row-center">
                <div class="form-group col-md-12">
                    <label>Adres</label>
                    <textarea rows="5" class="form-control" name="customers[0].Address" value="@(Model.Address)" placeholder="Adres">@(Model.Address != null ? Model.Address : null)</textarea>
                </div>
            </div>
            <div class="form-row row-center">
                <div class="form-group col-md-4">
                    <label>İl</label>
                    <select class="form-control" name="customers[0].CityId" onchange="javascript:fillDistricts(this)">
                        <option value="0">Seçiniz</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>İlçe</label>
                    <select class="form-control" name="customers[0].DistrictId">
                        <option value="0">Seçiniz</option>
                    </select>
                </div>
                <div class="form-group col-md-4 text-right mt-5">
                    <button type="button" onclick="javascript:addCustomer(this)" class="btn btn-primary"><i class="fas fa-plus"></i> Bir Sigortalı Daha Ekle</button>
                </div>
            </div>
        </div>
       
        <div class="form-row row-center mt-2 customers">
            <table class="table table-hover table-striped mt-5 d-none">
                <thead>
                    <tr>
                        <th scope="col">Ad Soyad</th>
                        <th scope="col">TCKNo</th>
                        <th scope="col">Doğum Tarihi</th>
                        <th scope="col">Yakınlık Durumu</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr id="customer0">
                        <td>Furkan Demirbağ</td>
                        <td>44556633221</td>
                        <td>29/05/1998</td>
                        <td>Kendisi</td>
                        <td><button type="button" onclick="javascript:deleteCustomer(this)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Sil</button></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <div class="btn-div mt-2">
            <button type="submit" class="btn"><i class="fas fa-arrow-right"></i> İLERİ</button>
        </div>
    </form>
</div>

@section scripts{
    @if (Model.CountryId > 0 && Model.CityId > 0)
    {
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    fillCities("select[name='customers[0].CityId']",@(Model.CountryId));
                    setTimeout(function () {
                        $("select[name='customers[0].CityId']").find("option[value='@(Model.CityId)']").attr("selected", "selected");
                        fillDistricts("select[name='customers[0].DistrictId']",@(Model.CityId));
                        setTimeout(function () {
                            $("select[name='customers[0].DistrictId']").find("option[value='@(Model.DistrictId)']").attr("selected", "selected");
                        },200);
                    },300);
                }, 500);
            });
        </script>
    }
}
